/* FONT */
$font-family: Avenir, Helvetica, Arial, sans-serif;

/* COLOR */
// base
$color-base: #FCFEF3;

// main
$color-main: #FF8786;

// accent
$color-accent: #FBEC9B;

// text
$color-text: #333333;
$color-text-inverse: #FCFEF3;

// icon
$color-icon: #896565;

// border
$color-border: #736F6F;
