/* font */
$font-family: Avenir, Helvetica, Arial, sans-serif;

/* width */
$width-pc: 1024px;
$width-tab: 680px;
$width-sp: 480px;

/* color */
// base
$color-base: #FCFEF3;

// main
$color-main: #FF8786;

// accent
$color-accent: #FBEC9B;

// text
$color-text: #333333;

// icon
$color-icon: #896565;

// border
$color-border: #736F6F;

// inverse
$color-inverse: #FCFEF3;
